.imageRender{
    margin-top: 2%;
    width: 20vw;
    height: auto;
    object-fit: contain;
  }

  .container {
    width: 100%; /* o el ancho que desees */
    margin: 0 auto;
  }

  .paginationContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px; /* Espacio entre los botones */
    margin-top: 20px; /* Espacio en la parte superior */
    margin-bottom: 20px; /* Espacio en la parte inferior */
  }
  