.container {
    margin-top: 20px;
    margin-bottom: 10vh;
    justify-content: center;
    text-align: center;
    display: flex; 
  }

  .gradientBackground {
    background: linear-gradient(to bottom, #000000, #313131);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
  }